<div class="page-header">

               {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
 </div>
 <html>
   <head>
      {% load staticfiles %}
     <!--Import materialize.css-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
   </head>
   <body>

     <nav>
    <div class="nav-wrapper  indigo darken-4">
      <a href="{% url 'lista_peliculas' %}" class="brand-logo"><i class="material-icons">movie_filter</i>Peliculiando</a>
      <ul class="right hide-on-med-and-down">

         {% if user.is_authenticated %}
         <li><a href="{% url 'nueva_renta' %} "><i class="material-icons">add_shopping_cart</i></a></li>
         {% if user.is_superuser%}
        <li><a href="{% url 'nueva_pelicula' %}"><i class="material-icons">movie</i></a></li>
         {% endif %}
        <li><a href="{% url 'logout' %}"><i class="material-icons">highlight_off</i></a></li>
        {% else %}
        <li><a href="{% url 'registrar' %}"><i class="material-icons">person</i></a></li>
        <li><a href="{% url 'login' %}"><i class="material-icons">input</i></a></li>
       {% endif %}
      </ul>
    </div>
  </nav>
  <p class="top-menu">Ingreso como: {{ user.username }}</p>
 <div class="container">
{% block content %}
{% endblock %}

</div>

           <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
           <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>

     </body>
   </html>
