<div class="page-header">

               {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
 </div>
 <html>
   <head>
      {% load staticfiles %}
     <!--Import materialize.css-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link type="text/css" rel="stylesheet" href="{% static 'materialize/bin/materialize.css' %}"  media="screen,projection"/>
   </head>
   <body>

     <nav>
    <div class="nav-wrapper  indigo darken-4">
      <a href="#!" class="brand-logo"><i class="material-icons">movie_filter</i>Peliculiando</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'nueva_renta' %} "><i class="material-icons">shopping_cart</i></a></li>

        <li><a href="{% url 'nueva_pelicula' %}"><i class="material-icons">movie</i></a></li>
        <li><a href=""><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav>
 <div class="container">
{% block content %}
{% endblock %}

</div>
        {% block footer %}
           <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
           <script type="text/javascript" src="{% static 'materialize/bin/materialize.js' %}"></script>
       {% endblock %}
     </body>
   </html>
